.hamburger {
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.hamburger:hover {
  opacity: 0.7;
}

.hamburger.is-active:hover {
  opacity: 0.7;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: white;
}

.hamburger-box {
  width: 30px;
  height: 21px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -1.5px;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 30px;
  height: 3px;
  background-color: grey;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -9px;
}

.hamburger-inner::after {
  bottom: -9px;
}

/*
   * Squeeze
   */
.hamburger--squeeze .hamburger-inner {
  transition-duration: 0.075s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--squeeze .hamburger-inner::before {
  transition: top 0.075s 0.12s ease, opacity 0.075s ease;
}

.hamburger--squeeze .hamburger-inner::after {
  transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--squeeze.is-active .hamburger-inner {
  transform: rotate(45deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--squeeze.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.075s ease, opacity 0.075s 0.12s ease;
}

.hamburger--squeeze.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  font-family: "Shadows Into Light", cursive;
  text-transform: uppercase;
  letter-spacing: 1.5vw;
  font-size: 4vw;
  letter-spacing: 0.5vw;
  color: Gold;
  position: absolute;
  top: 2vw;
  left: 4vw;
  text-shadow: 0.2vw 0.2vw grey;
}

.hamburger {
  color: white;
  position: absolute;
  top: 2vw;
  right: 4vw;
  opacity: 0.9;
}

ul {
  text-align: right;
  position: absolute;
  top: 1.3vw;
  right: 8vw;
  line-height: 1.3;
  background-color: white;
  padding: 1vw 2vw;
  transform: rotate(-10deg);
}

li {
  list-style-type: none;
  font-family: "Titillium Web", sans-serif;
  color: Teal;
  font-size: 1.5vw;
  letter-spacing: 0.2vw;
}

.bg {
  height: 50vw;
  width: 100%;
  z-index: -99;
}

.intro {
  font-size: 2vw;
  position: absolute;
  top: 25vw;
  left: 20vw;
  font-family: "Titillium Web", sans-serif;
  text-transform: uppercase;
  line-height: 1.2;
  color: white;
  height: 40vw;
  padding-right: 2vw;
  padding-top: 2vw;
  letter-spacing: 0.8vw;
}

.intro p:nth-of-type(2) {
  letter-spacing: 2vw;
  font-size: 4vw;
}

.sub {
  position: absolute;
  top: 47vw;
  right: 30vw;
  font-family: "Shadows Into Light", cursive;
  transform: rotate(-25deg);
  color: Teal;
  text-transform: lowercase;
  font-size: 4vw;
  letter-spacing: 0.1vw;
  z-index: 3;
  text-shadow: 0.1vw 0.1vw grey;
}

.white1,
.white2 {
  background-color: white;
  position: absolute;
  overflow-x: hidden;
}

.white1 {
  height: 43vw;
  width: 50vw;
  transform: rotate(18deg);
  top: 42vw;
  left: -10vw;
}

.white2 {
  height: 42vw;
  width: 85vw;
  transform: rotate(-14deg);
  top: 40vw;
  left: 33vw;
  overflow-x: hidden;
}

.border1 {
  position: absolute;
  top: 18vw;
  left: 45vw;
  border-left: 2px solid Gold;
  border-bottom: 2px solid Gold;
  transform: rotate(-30deg);
  height: 27vw;
  width: 60vw;
  z-index: 99;
}

.aboutMe {
  position: absolute;
  width: 63vw;
  display: flex;
}

.strip {
  width: 15vw;
  position: relative;
  top: 24vw;
  left: 81vw;
  transform: rotate(10deg);
  z-index: 2;
  box-shadow: 2px 2px 0.4 grey;
}

.strip2 {
  left: 52vw;
  top: 26vw;
  transform: rotate(-10deg);
}

article {
  background: Teal;
  color: white;
  font-family: "Titillium Web", sans-serif;
  position: relative;
  top: 2vw;
  right: -27vw;
  z-index: 1;
  width: 38vw;
  padding: 4vw 2vw;
  text-align: right;
  align-self: flex-end;
}

.text {
  text-align: left;
}

.headline {
  position: relative;
  font-size: 3vw;
  color: white;
  text-transform: uppercase;
  font-family: "Titillium Web", sans-serif;
  letter-spacing: 0.3vw;
  z-index: 1000;
}

.text {
  font-size: 1.5vw;
  background-color: white;
  color: Teal;
}

.border2 {
  height: 15vw;
  left: -24vw;
  top: 71vw;
  transform: scaleX(-1) rotate(-10deg);
  overflow-x: hidden;
}

.btn {
  padding: 0.5vw;
  border: 1px solid Gold;
  border-radius: 0.3vw;
  margin-top: 1vw;
}

.skills {
  height: 60vw;
}

.icons {
  display: flex;
  justify-content: center;
}

i {
  position: relative;
  top: 30vw;
  font-size: 8vw;
}
