$coral: Coral;
$tomato: Tomato;
$DRed: DarkRed;
$gold: Gold;


$darkKhaki: DarkKhaki;
$DOlive: DarkOliveGreen;
$ODrab: OliveDrab;
$DGreen: DarkGreen;

$turquoise: Turquoise;
$PBlue: PowderBlue;
$CadetBlue: CadetBlue;
$PTurquoise: PaleTurquoise;
$LSGreen: LightSeaGreen;
$Teal: Teal;

$violet: BlueViolet;
$purple: purple;
$mediumV: MediumVioletRed;
$indigo: indigo;
$slate: MediumSlateBlue;
$magenta: Magenta;

$gainsboro: Gainsboro;
$grey: DarkGrey;
$Dgrey: DimGray;
