
$lato: 'Lato', sans-serif;
$playfair: 'Playfair Display', serif;
$prata: 'Prata', serif;
$shadows: 'Shadows Into Light', cursive;
$titillium: 'Titillium Web', sans-serif;
$ubuntu: 'Ubuntu', sans-serif;
$vidaloka: 'Vidaloka', serif;
$amatic: 'Amatic SC', cursive;
$rocksalt: 'Rock Salt', cursive;
$permanent: 'Permanent Marker', cursive;
$kristi: 'Kristi', cursive;
$sue: 'Sue Ellen Francisco', cursive;
$east: 'East Sea Dokdo', cursive;



// font-family: 'Lato', sans-serif;
// font-family: 'Playfair Display', serif;
// font-family: 'Prata', serif;
// font-family: 'Shadows Into Light', cursive;
// font-family: 'Titillium Web', sans-serif;
// font-family: 'Ubuntu', sans-serif;
// font-family: 'Vidaloka', serif;
// font-family: 'Amatic SC', cursive;
// font-family: 'Permanent Marker', cursive;
// font-family: 'Rock Salt', cursive;
// font-family: 'Kristi', cursive;
// font-family: 'Sue Ellen Francisco', cursive;
// font-family: 'East Sea Dokdo', cursive;
