@import url(/node_modules/aos/dist/aos.css);
.hamburger {
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.hamburger:hover {
  opacity: 0.7;
}

.hamburger.is-active:hover {
  opacity: 0.7;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: Teal;
}

.hamburger-box {
  width: 3rem;
  height: 2.5rem;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -0.15rem;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 3rem;
  height: 0.3rem;
  background-color: white;
  border-radius: 1rem;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -1.1rem;
}

.hamburger-inner::after {
  bottom: -1.1rem;
}

/*
   * Squeeze
   */
.hamburger--squeeze .hamburger-inner {
  transition-duration: 0.075s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--squeeze .hamburger-inner::before {
  transition: top 0.075s 0.12s ease, opacity 0.075s ease;
}

.hamburger--squeeze .hamburger-inner::after {
  transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--squeeze.is-active .hamburger-inner {
  transform: rotate(45deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--squeeze.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.075s ease, opacity 0.075s 0.12s ease;
}

.hamburger--squeeze.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.logo {
  margin-top: 0;
  font-size: 4rem;
  letter-spacing: 0.3rem;
  text-shadow: 0.2vw 0.2vw grey;
  text-transform: uppercase;
  transform: rotate(-10deg);
  color: Gold;
  font-family: "Shadows Into Light", cursive;
}

.hamburger {
  margin-top: 5vw;
  color: white;
}

.hamburger:focus {
  outline: none;
}

.nav-item {
  background-color: white;
  height: auto;
  margin: 3vw;
  padding: 1vw;
}

.nav-item > div > a {
  font-family: "Titillium Web", sans-serif;
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  line-height: 1.3;
  list-style-type: none;
}

.nav-item > div > a:hover {
  cursor: pointer;
  color: Gold !important;
}

.nav-item > div > a:hover span {
  width: 35vw;
}

.nav-item > div > span {
  height: 0.3vw;
  width: 0vw;
  background-color: Gold;
  position: absolute;
  left: 24vw;
  top: 4vw;
  transition: width 0.4s ease-in;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none !important;
  color: Teal !important;
}

a:hover, a:focus {
  text-decoration: none !important;
}

li {
  list-style-type: none !important;
}

.bg {
  position: absolute;
  top: 0;
  height: 100vw;
  width: 100vw;
  z-index: -999;
}

body {
  background-image: url(../img/background-1921589_1920.jpg);
}

div.name {
  font-family: "Titillium Web", sans-serif;
  text-transform: uppercase;
  line-height: 1.2;
  font-size: 2vw;
  color: white;
  height: 40vw;
  letter-spacing: 0.8vw;
  position: relative;
  top: 21vw;
  left: 24vw;
}

div.name p:nth-of-type(2) {
  letter-spacing: 2vw;
  font-size: 5vw;
}

.aboutMe .elements {
  position: absolute;
  top: 5vw;
  z-index: -99;
}

.aboutMe .white1,
.aboutMe .white2 {
  background-color: white;
  position: absolute;
  overflow-x: hidden;
}

.aboutMe .white1 {
  height: 48vw;
  width: 87vw;
  transform: rotate(4deg);
  top: 40vw;
  left: -64vw;
}

.aboutMe .white2 {
  height: 45vw;
  width: 75vw;
  transform: rotate(-10deg);
  top: 36vw;
  left: 13vw;
}

.aboutMe .border {
  position: relative;
  border-left: 2px solid Gold;
  border-bottom: 2px solid Gold;
  z-index: 99;
}

.aboutMe .border1 {
  top: 7vw;
  left: 25vw;
  transform: rotate(-30deg);
  height: 25vw;
  width: 70vw;
}

.aboutMe .flexbox {
  display: flex;
  margin: 5vw 15vw;
}

.aboutMe article {
  background: Teal;
  color: white;
  font-family: "Titillium Web", sans-serif;
  z-index: 1;
  padding: 4vw 2vw;
  text-align: right;
}

.aboutMe .title-about {
  position: relative;
  top: 0vw;
  left: 35vw;
  width: 30vw;
  font-family: "Shadows Into Light", cursive;
  font-size: 3vw;
  color: Teal;
  text-shadow: 1px 1px grey;
  transform: rotate(-26deg);
  margin-left: 1vw;
}

.aboutMe .headline {
  position: relative;
  font-size: 3vw;
  color: white;
  text-transform: uppercase;
  font-family: "Titillium Web", sans-serif;
  letter-spacing: 0.3vw;
  z-index: 1000;
  margin-bottom: 1vw;
}

.aboutMe .sub-text {
  font-size: 1.5vw;
}

.aboutMe .text {
  background-color: transparent;
  color: Teal;
  align-self: flex-end;
  text-align: left;
}

.strip1 {
  width: 14vw;
  transform: rotate(10deg);
}

.strip2 {
  width: 15vw;
  transform: rotate(-2deg);
}

.skills {
  margin: 0 auto;
  height: auto;
  width: 100%;
}

.skills .icons {
  color: Teal;
  display: flex;
  justify-content: space-around;
}

.skills .icons i {
  text-shadow: grey;
  margin: 2vw;
  font-size: 4vw;
  z-index: 4;
}

.skills article.text {
  font-family: "Titillium Web", sans-serif;
  background-color: transparent;
  color: Teal;
  align-self: flex-end;
  text-align: left;
  margin-left: 30vw;
  margin-right: 20vw;
}

.skills .border2 {
  position: relative;
  border-right: 2px solid Gold;
  border-top: 2px solid Gold;
  top: -30vw;
  left: -50vw;
  transform: rotate(40deg);
  height: 60vw;
  width: 60vw;
  z-index: 999;
}

.skills .title-skills {
  position: relative;
  top: 53vw;
  left: 7vw;
  width: 30vw;
  font-family: "Shadows Into Light", cursive;
  font-size: 5vw;
  color: Teal;
  text-shadow: 1px 1px grey;
  transform: rotate(35deg);
}
