// main scss to be compiled

@import 'colors';
@import 'fonts';
@import 'hamburgers';
@import 'nav';
@import '/node_modules/aos/dist/aos.css';

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none !important;
    color: $Teal !important;

  &:hover,
  &:focus {
    text-decoration: none !important;
  }
}

li {
  list-style-type: none !important;
}

.bg {
  position: absolute;
  top: 0;
  height: 100vw;
  width: 100vw;
  z-index: -999;
}

body {
  background-image: url(../img/background-1921589_1920.jpg);
}

  div.name {
    font-family: $titillium;
    text-transform: uppercase;
    line-height: 1.2;
    font-size: 2vw;
    color: white;
    height: 40vw;
    letter-spacing: 0.8vw;

    position: relative;
    top: 21vw;
    left: 24vw;

    p:nth-of-type(2) {
      letter-spacing: 2vw;
      font-size: 5vw;
    }
  }

.aboutMe {

  .elements {
    position: absolute;
    top: 5vw;
    z-index: -99;
  }

  .white1,
  .white2 {
    background-color: white;
    position: absolute;
    overflow-x:hidden;
  }

  .white1 {
    height: 48vw;
    width: 87vw;
    transform: rotate(4deg);
    top: 40vw;
    left: -64vw;
  }

  .white2 {
    height: 45vw;
    width: 75vw;
    transform: rotate(-10deg);
    top: 36vw;
    left: 13vw;
    // overflow-x: hidden;
  }

  .border {
    position: relative;
    border-left: 2px solid Gold;
    border-bottom: 2px solid Gold;
    z-index: 99;
  }

  .border1 {
    top: 7vw;
    left: 25vw;
    transform: rotate(-30deg);
    height: 25vw;
    width: 70vw;
  }

  .flexbox {
    display: flex;
    margin: 5vw 15vw;
  }


  article {
    background: $Teal;
    color: white;
    font-family: $titillium;
    z-index: 1;
    padding: 4vw 2vw;
    text-align: right;
  }

  .title-about{
    position: relative;
    top: 0vw;
    left: 35vw;
    width: 30vw;
    font-family: $shadows;
    font-size: 3vw;
    color: $Teal;
    text-shadow: 1px 1px grey;
    transform: rotate(-26deg);
    margin-left: 1vw;
  }

  .headline {
    position: relative;
    font-size: 3vw;
    color: white;
    text-transform: uppercase;
    font-family: $titillium;
    letter-spacing: 0.3vw;
    z-index: 1000;
    margin-bottom: 1vw;
  }

  .sub-text {
    // flex-grow: 2;
    font-size: 1.5vw;
  }

  .text {
    background-color: transparent;
    color: $Teal;
    align-self: flex-end;
    text-align:left;
  }

  // .btn {
  //   padding: 0.5vw;
  //   border: 1px solid $gold;
  //   border-radius: 0.3vw;
  //   margin-top: 1vw;
  // }
}

.strip1 {
  width: 14vw;
  transform: rotate(10deg);
}

.strip2 {
  width: 15vw;
  transform: rotate(-2deg);
}

.skills {
  margin: 0 auto;
  height: auto;
  width: 100%;

  .icons {
  color: $Teal;
  display: flex;
  justify-content: space-around;


  i {
    text-shadow: grey;
    margin: 2vw;
    font-size: 4vw;
    z-index: 4;
    }

  // span {
  //   color: white;
  //   text-align: center;
  //   font-family: $titillium;
  //   font-size: 6vw;
  //   letter-spacing: 0.5vw;
  //   opacity: 0.6;
  //   position: relative;
  //   top: -3vw;
  //
  //   &:nth-of-type(2) {
  //     font-size: 4vw;
  //     top: -2vw;
  //     }
  //
  //   &:nth-of-type(3) {
  //     font-size: 6vw;
  //     top: -3vw;
  //     }
  //
  //   &:nth-of-type(4) {
  //     font-size: 4vw;
  //     top: -2vw;
  //     }
  //
  //   &:nth-of-type(5) {
  //     font-size: 5vw;
  //     top: -2vw;
  //       }
  //   }
  }

  article.text {
    font-family: $titillium;
    background-color: transparent;
    color: $Teal;
    align-self: flex-end;
    text-align:left;
    margin-left: 30vw;
    margin-right: 20vw;
  }

  .border2 {
    position: relative;
    border-right: 2px solid Gold;
    border-top: 2px solid Gold;
    top: -30vw;
    left: -50vw;
    transform: rotate(40deg);
    height: 60vw;
    width: 60vw;
    z-index: 999;
  }

  .title-skills {
    position: relative;
    top: 53vw;
    left: 7vw;
    width: 30vw;
    font-family: $shadows;
    font-size: 5vw;
    color: $Teal;
    text-shadow: 1px 1px grey;
    transform: rotate(35deg);
  }
}
